.Habilidades{
    max-width: 1200px;
    margin-inline: auto;
    h1{
        position: relative;
        top:30px;
        font-size: 40px;
        color: #008080;
    }
    img{
        width: auto;
        height: 100px;
    }
    .grid{
        max-width: 1200px;
        margin-inline:auto;
        top: 60px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
}
 @keyframes comecocos{
    0%{ opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}
.Habilidades .grid img{
    animation: comecocos 10s infinite;
    animation-fill-mode:both;
} 