.proyectos{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 100px;
    h1{
        position: relative;
        top:30px;
        font-size: 40px;
        color: #008080;
    }
    img:hover{
        transform: scale(1.05);
    }
}
.grid-porfolio{
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 25px;
    margin-top: 50px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 2px 2px 10px 2px;
    }
}
.proyecto1{
    grid-column: 1 /2;
    grid-row: 1 / 3;
}
.proyecto2{
    grid-column: 2 /4;
    grid-row: 1 / 2;
}
.proyecto3{
    grid-column: 4 /5;
    grid-row: 1 / 3;
}
.proyecto4{
    grid-column: 2 /3;
    grid-row: 2 / 3;
}
.proyecto5{
    grid-column: 3 /4;
    grid-row: 2 / 3;
}
