*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
 ) {
        all: unset;  
        display: revert;
    }
li {
        list-style: none;
}

@import url("Estilo css/variables.css");
html img{
    cursor: pointer;
}
html button{
    cursor: pointer;
}
html a{
    cursor: pointer;
}
body{
    background-color: var(--background-color);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}
.fondobg{
    background-color: #008080;
}
footer{
    background-color: #008080;
    width: 100%;
    height: 300px;
}


/*@import url ("menu.css");
@import url ("menu/sidebar.css");