*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
 ) {
        all: unset;  
        display: revert;
    }
html {
    font-family: 'Roboto', sans-serif,"Roboto Condensed",sans-serif;
}
 li {
    list-style: none;
 }
 img {
    max-width: 100%;
    height: auto;
 }
 main{
   background-color:#f2f2f2;
 }
 body{
    background-color:#f2f2f2;
 }
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    color: white;
    fill: white;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 0.06em;
 }
 .sticky{
   position: sticky;
   top: 0;
   z-index: 1;
 }
 .layout {
    background-color: #1a1d24;

 }
 .barrita {
   color: #a8a8a8;
 }
 .header svg {
    width: 20px;
    height: 20px;
 }
 .header ul {
    display: flex;
    gap: 20px;
    font-weight: bold;
 }
 .redes {
    display: flex;
    gap:20px
 }
 .principio{
    background-color: #1a1d24;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 300px;
    max-width: 1200px;   
    margin-inline: auto; 
    position: relative;
 }
 .principio h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    align-items: center;   
    justify-content: center;
    display: flex;
    font-family: "Roboto Condensed",sans-serif;
 }
.principio ul{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.principio ul li:hover{
    opacity: 0.5;
}
.principio span{
   height: 10px;
   width: 10px;
   background-color: white;
   border-radius: 50% 50%;
}
.fondo{
    background-color: #1a1d24;
}
.portada{
    max-width: 1200px;
    justify-content: center;
    display: flex;
}
.portada img{
    max-width: 100%;
    height: 600px;
    margin-inline: left;
}
.portada svg{
    width: 20px;
    height: 20px;
}
.video{
    position: absolute;
    left: 420px;
    top: 45px;
    
}
.cuerpo{
    margin-top: 50px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    color: white;
    position: relative;
}
.portada ul{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    right: 0;
    font-family: "Roboto Condensed",sans-serif;
}
.boton{
    background-color: #e0041d;
    border-color: black;
    border-radius: 25px;
    color: white;
    padding: 5px;
    justify-content: center;
    font-size: 15px;
    display: inline;
    margin-top:10px;
    padding: 10px;
}
.boton:hover{
    background-color: transparent;
    color: black;
}
.botones{
    display: flex;
    margin-inline: auto;
    gap: 5px;
    max-width: 1200px;
    align-items: center;
    justify-content: left;
}
.descripcion{
    display: flex;
    margin-inline: auto;
    margin-top: 480px;
    justify-content: center;
    background-color: #1a1d24;
    width: 1200px;
    height: 120px;
    gap: 110px;
}
.descripcion p{
    color:white;
}
.descripcion div{
    margin-top: 15px;
}
.descripcion h1{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}
.section1{
    display: block;
}
.section2{
    display: block;
}
.section3{
    display: block;
}
.section3 img{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    margin-top:10px;
}
.section3 img:hover{
    box-shadow: rgb(54, 52, 52) 0px 0px 5px 5px;
}
.parte1{
    display: flex;
    max-width: 1200px;
    height: 600px;
}
.descripcion p::after{
        content:""; 
        width: 770px; 
        height: 1px; 
        background-color:#a8a8a8 ;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
}
/*NETFLIX*/
.netflix{
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0.0.0.0)), url(https://occ-0-1934-360.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABer7SeWc6FvkBqWtk61GwL7rshAEVCOARQZVTEJGnLXykYBlO4nbbr6gs7M650BjULuaN6hucXKr5xY2iqPAajrxXd70HawdJeuD.jpg?r=608);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 50px;
}
.netflix img{
    width: 500px;
    position: relative;
    top: 180px;
    left: 100px;
}
.centrado{
    max-width: 600px;
    margin-left: 100px;
    align-items: center;

}
.netflix h2{
    font-size: 15px;
    color: white;
    display: inline;
    position: relative;
    top:260px;
}
.netflix h3{
    font-size: 25px;
    color: white;
    position: relative;
    top:300px;
}
.netflix h4{
    font-size: 20px;
    color: white;
    position: relative;
    top:340px;
}
.caja2{
    width: 1400px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position:relative;
    top:480px;
    margin-inline: auto;
    background-color: #1a1d24;
    box-shadow: 5px 5px 5px;
}
.caja2 img{
    width: 45px;
    height: 45px;
    margin-left: 40px;
    bottom: 0;
    position: relative;
    top: 12px;
    float:left;
    left: -20px;
    
}
.netflix h5{
    font-size: 25px;
    font-weight: bold;
    color: white;
    left: -10px;
    bottom: 0;
    position: relative;
    top: 20px;
}
.netflix button{
    color: white;
    top:15px;
    background-color: #e0041d;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    right: 0px;
    margin-right: 30px;
    position: absolute;
    margin-top: -5px;
}
.netflix button:hover{
    margin-top: -8px;
    margin-right: 33px;
}
.images{
    position: relative;
    top:80px;
}
.colum img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    box-shadow: 0 0px 10px 2px;
    
}
.columblack img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    box-shadow: 0 0px 10px 2px;
}
.foto{
    display: flex;
    align-items: center;
}
.fotodos{
    display: flex;
    align-items: center;
}
.colum .nombre{
    align-items: center;
    justify-content: center;
    display: block;
}
.grupo img{
    object-fit: cover;
}
.grupo h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    
}
.grupo h3{
    font-size: 10px;
    text-transform: uppercase;
    font-family: "Roboto Condensed",sans-serif;
    color: #5b5959;
    letter-spacing: 1px;
}

.columna{
    max-width: 1200px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
}
.columna h1{
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    padding: 0px 0 30px 0;
}
.columna h1::after{
    content:""; 
    width: 50px; 
    height: 1px; 
    background-color: red;
    display: inline-block;
    margin: 7px 0;
    margin-left: 0.5em;
}
.grupo{
    display: flex;
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
}
.nombre{
    align-items: center;
    display: block;

}
.caja{
    position: relative;
    max-width: 1200px;
    margin-inline: auto;
}
.proximo{
    display: block;
    background-color: rgb(213, 213, 213);
    max-width: 400px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.proximo article{
    display: block;
    gap: 25px;
    margin-bottom: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.proximo img{
    width: 150px;
    height: 100px;
}
.proximo img:hover{
    opacity: 0.5;
}

.proximo h1{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
}
.proximo h1::after{
    content:""; 
    width: 30px; 
    height: 1px; 
    background-color: red;
    display: inline-block;
    margin: 5px 0;
    margin-left: 0.8em;
}
.proximo h3{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.proximo time{
    font-size: 8px;
    color: #5b5959;
    letter-spacing: 1px;
}
.grid{
    max-width: 1200px;
    align-items: center;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.uno{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ), url(https://i.pinimg.com/originals/83/73/9f/83739f25bff44d7c7cd5531b30735bbe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 400px;
    position: relative;
}
.dos{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ), url(https://wallpapers.com/images/hd/hawkins-stranger-things-dxaviuaj5tmp5snh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 385px;
    width: 400px;
    position: relative;
}
.tres{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ), url(https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2022/04/stranger_things_temporada_4_matt_ross_duffer.jpg?fit=1600%2C1067&quality=50&strip=all&ssl=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 400px;
    position: relative;
}
.cuatro{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ), url(https://i.pinimg.com/564x/f0/b2/1b/f0b21baa80de6c12693d16bf30b59b8c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 385px;
    width: 400px;
    position: relative;
}
.grid p{
    color: transparent;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bold;
}
.uno:hover{
    opacity: 1;
    transform: scale(1.05);
    z-index: 1;
}
.dos:hover{
    opacity: 1;
    transform: scale(1.05);
    z-index: 1;
}
.tres:hover{
    opacity: 1;
    transform: scale(1.05);
    z-index: 1;
}
.cuatro:hover{
    opacity: 1;
    transform: scale(1.05);
    z-index: 1;
}
.estrellas svg{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    
}
.valoracion{
    margin-top:70px;
    display: flex;
    max-width: 1400px;
    margin-inline: auto;
    background-color: #1a1d24;
    height: 140px;
    box-shadow: 5px 10px 10px ;
}
.rate{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    margin-left: 100px;
}
.rate h1{
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    margin-top: -30px;
    margin-inline: auto;
    color: white;
}
.rate h1::after{
    content:""; 
    width: 50px; 
    height: 1px; 
    background-color: white;
    display: inline-block;
    margin: 7px 0;
    margin-left: 0.5em;
}
.estrellas{
    margin-left: 100px;
    display: flex;
    margin-top: 40px;
}
.estrellas svg:hover{
    filter: none;
}
.footer{
    background-color: #1a1d24;
    display: flex;
    justify-content: space-between;
    height: 500px;
    color: white;
    fill: white;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 0.06em;
    position: relative;
    margin-top: 150px;
 }
 .footer svg{
    width: 20px;
    height: 20px;
 }
 .footer p{
    color: #a8a8a8;
 }
 .logo{
    display: block;
 }
 .logo p{
    margin: 30px auto;
 }
 .footer h1{
    font-weight: bold;
    font-size: 15px;
 }
 .footer h1::after{
    content:""; 
    width: 29px; 
    height: 1.1px; 
    background-color:#e0041d ;
    display:inline;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.8em;
 }
 .footer a{
    color: #a8a8a8;
    line-height: 3em;
 }
 .movies{
    display: block;
 }
 .newsletter .redes{
    display: flex;
    margin-top: 20%;
 }
 .footer div{
    display: inline;
    margin-top: 15%;
 }
 .fondofooter{
    background-color: #1a1d24;
 }
 .cosas svg{
    height: 20px;
    width: 20px;
    display:block;
    padding: 20px;
    background-color: #e0041d;
    background-size: 30px;
    margin-top: 4px;
 
 } 
 .cosas{
   position: fixed;
   right: 0;
   bottom: 550px;
 }
 input > src{
    height: 20px;
    width: 20px;
 
 }