*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
 ) {
        all: unset;  
        display: revert;
    }
html {
    font-family: 'Roboto', sans-serif,"Roboto Condensed",sans-serif;
}
 li {
    list-style: none;
 }
 img {
    max-width: 100%;
    height: auto;
 }
 main{
   background-color:#f2f2f2;
 }
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    color: white;
    fill: white;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 0.06em;
 }
 .sticky{
   position: sticky;
   top: 0;
   z-index: 1;
 }
 .layout {
    background-color: #1a1d24;

 }
 .barrita {
   color: #a8a8a8;
 }
 .header svg {
    width: 20px;
    height: 20px;
 }
 .header ul {
    display: flex;
    gap: 20px;
    font-weight: bold;
 }
 .redes {
    display: flex;
    gap:20px
 }
 .principio{
    background-color: #1a1d24;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 300px;
    max-width: 1200px;   
    margin-inline: auto; 
    position: relative;
 }
 .principio h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    align-items: center;   
    justify-content: center;
    display: flex;
    font-family: "Roboto Condensed",sans-serif;
 }
.principio ul{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.principio span{
   height: 10px;
   width: 10px;
   background-color: white;
   border-radius: 50% 50%;
}
.fondo{
    background-color: #1a1d24;
}
.portada{
    max-width: 1200px;
    justify-content: center;
    display: flex;
}
.portada img{
    max-width: 100%;
    height: 600px;
    margin-inline: left;
}
.portada svg{
    width: 20px;
    height: 20px;
}
.cuerpo{
    margin-top: 50px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    color: white;
    position: relative;
}
.portada ul{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    right: 0;
    font-family: "Roboto Condensed",sans-serif;
}
.boton{
    background-color: red;
    border-color: black;
    border: 2px;
    border-radius: 15% 15%;
    color: white;
    padding: 5px;
    justify-content: center;
    font-size: 13px;
    display: inline;
}
.botones{
    display: flex;
    margin-inline: auto;
    gap: 5px;
    max-width: 1200px;
    align-items: center;
    justify-content: left;
}
.descripcion{
    display: block;
    margin-inline: auto;
    justify-content: center;
    padding: 30px;
    align-items: center;
    bottom: 0;
    margin-top: 427px;
}
.descripcion p{
    color: gray;
}

.parte1{
    display: flex;
    max-width: 1200px;
    height: 600px;
}
.descripcion p::after{
        content:""; 
        width: 770px; 
        height: 1px; 
        background-color:#a8a8a8 ;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
}
.colum img{
    border-radius: 50% 50%;
    width: 150px;
    height: 150px;
}
.columblack img{
    border-radius: 50% 50%;
    width: 150px;
    height: 150px;
}
.foto{
    display: flex;
}
.fotodos{
    display: flex;
}
.colum .nombre{
    align-items: center;
    justify-content: center;
    display: block;
}

.columna{
    max-width: 1200px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
   

}
.columna h1{
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    padding: 0px 0 40px 0;
}
.grupo{
    display: flex;
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
}
.caja{
    position: relative;
    max-width: 1200px;
    margin-inline: auto;
}
.proximo{
    display: block;
    background-color: grey;
    max-width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;

}

.proximo article{
    display: block;
    gap: 25px;
    margin-bottom: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.proximo img{
    width: 100px;
    height: 100px;
}
.proximo h1{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;

}







































.footer{
    background-color: #1a1d24;
    display: flex;
    justify-content: space-between;
    height: 500px;
    color: white;
    fill: white;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 0.06em;
    position: relative;
 }
 .footer svg{
    width: 20px;
    height: 20px;
 }
 .footer p{
    color: #a8a8a8;
 }
 .logo{
    display: block;
 }
 .logo p{
    margin: 30px auto;
 }
 .footer h1{
    font-weight: bold;
    font-size: 15px;
 }
 .footer h1::after{
    content:""; 
    width: 29px; 
    height: 1.1px; 
    background-color:#e0041d ;
    display:inline;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.8em;
 }
 .footer a{
    color: #a8a8a8;
    line-height: 3em;
 }
 .movies{
    display: block;
 }
 .newsletter .redes{
    display: flex;
    margin-top: 20%;
 }
 .footer div{
    display: inline;
    margin-top: 15%;
 }
 .fondofooter{
    background-color: #1a1d24;
 }
 .cosas svg{
    height: 20px;
    width: 20px;
    display:block;
    padding: 20px;
    background-color: #e0041d;
    background-size: 30px;
    margin-top: 4px;
 
 } 
 .cosas{
   position: fixed;
   right: 0;
   bottom: 550px;
 }
 input > src{
    height: 20px;
    width: 20px;
 
 }